[submodule "drone/externals/JUCE"]
	path = drone/externals/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "externals/JUCE"]
	path = externals/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "externals/VST3_SDK"]
	path = externals/VST3_SDK
	url = https://github.com/steinbergmedia/vst3sdk.git
